.input-error {
  color: #bf1650;
  font-size: 13px;
}

.input-error::before {
  display: inline;
  content: "⚠ ";
}

.input-icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(-5px, -50%);
  opacity: 0.3;
}
